[Unit]
Description=A virtual BMC for controlling virtual machines using IPMI commands
After=network.target

[Service]
ExecStart=%h/.local/bin/vbmcd --foreground
Restart=always
Type=simple

[Install]
WantedBy=default.target
